<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Vincent &mdash; Portfolio</title>
	<link rel="icon" type="image/x-icon" href="/images/stinky face.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,900;1,500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>

	<div class="fh5co-loader"></div>

	<!-- intro -->
	<div id="page">
		<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner"
			style="background-image:url(images/cover_bg_3.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t js-fullheight">
							<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
								<img class="profile" src="images/prof4.jpg">
								<h1 class="name"><span>Vincent Cannalla</span></h1>
								<h3><span>Technology Developer | Scholar | Photographer</span></h3>
								<p>
								<ul class="fh5co-social-icons">
									<li><a href="https://github.com/v1nnyc"><i class="icon-github2"></i></a></li>
									<li><a href="https://www.linkedin.com/in/vincent-cannalla-695757116/"><i
												class="icon-linkedin2"></i></a></li>
									<li><a href="https://www.instagram.com/vincentisgreat/"><i
												class="icon-instagram"></i></a>
									</li>
								</ul>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- about -->
		<div id="fh5co-about" class="animate-box">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>Sobre mi</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<ul class="info">
							<li><span class="first-block">Name:</span><span class="second-block">Vincent Cannalla</span>
							</li>
							<li><span class="first-block">Phone:</span><span class="second-block">+ 1 949 682
									6155</span></li>
							<li><span class="first-block">Email:</span><span
									class="second-block">vcannalla@gmail.com</span></li>
							<li><span class="first-block">Location:</span><span class="second-block">California / New
									York / Tijuana</span>
							</li>
						</ul>
					</div>
					<div class="col-md-8">
						<h2>Bienvenido</h2>
						<br>
						<p>
							I curated this portfolio with the intention of offering a more comprehensive introduction of
							myself and sharing my reflections on my past software experiences. This platform allows me
							to showcase my diverse work and educational background, along with the personal stories
							behind them. Through this, I aim to provide a deeper insight into not just my technical
							abilities, but also my personality and passions– valuable elements that are often difficult
							to fully convey during the interview process.
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- resume -->
		<div id="fh5co-resume" class="fh5co-bg-color">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>My Resume</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-md-offset-0">
						<ul class="timeline">
							<li class="timeline-heading text-center animate-box">
								<div>
									<h3>Education</h3>
								</div>
							</li>
							<li class="animate-box timeline-unverted">
								<div class="timeline-badge timeline-badge-1"><i class="icon-sun2"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">UC San Diego</h3>
										<span class="company">BS Computer Science – 2019</span>
									</div>
									<div class="timeline-body">
										<p style="text-align: right">I thoroughly enjoyed my experience at the
											University of California, San Diego. The time I spent interacting with the
											students and immersing myself in the campus environment is truly invaluable
											and something I cherish deeply. The Computer Science program at UC San Diego
											is highly regarded, boasting a ranking of 4th globally, and is one of the
											most in-demand and competitive majors available at the university. I found
											the program to be the most intellectually challenging academic pursuit I
											have ever undertaken. It was through the guidance of my mentors and the
											faculty at UC San Diego that I was able to launch my successful career in
											software development.
										</p>
										<font style="font-size: 15px;">
											<ul style="text-align: left">
												<li>
													CSE GPA: 3.5 | Honor's Distinction 4 quarters
												</li>
												<li>
													Ranked 4th globally as the best Computer Science program by <a
														href="https://csrankings.org/#/fromyear/2012/toyear/2022/index?all&us">csrankings.org</a>
												</li>
											</ul>
										</font>
									</div>
								</div>
							</li>
							<li class="animate-box timeline-inverted">
								<div class="timeline-badge timeline-badge-2"><i class="icon-graduation-cap"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">Columbia University</h3>
										<span class="company">Premed Postbacc – 2022</span>
									</div>
									<div class="timeline-body">
										<p>I had the privilege of participating in the Postbaccalaureate Premedical
											Program at Columbia University. It was an exceptional experience that was
											made all the more remarkable by the wonderful individuals I had the
											opportunity to meet and learn from, as well as the impressive mentors who
											guided me throughout my journey. The countless hours I spent in the library
											were a testament to the rigorous nature of the program and my unwavering
											commitment to my academic pursuits. One aspect of the program that I truly
											appreciated was the opportunity to take classes alongside undergraduate
											students, which allowed me to engage with some of the brightest minds of
											this generation.</p>
										<font style="font-size: 15px;">
											<ul>
												<li>GPA: 3.96 | Dean's List 3 semesters
												</li>
												<li>Columbia University's Premedical Postbaccalaureate program is
													regarded as one of the most prestigious and highly ranked programs
													of its kind in the United States.
												</li>
											</ul>
										</font>
									</div>
								</div>
							</li>
							<br>
							<li class="timeline-heading text-center animate-box">
								<div>
									<h3>Work Experience</h3>
								</div>
							</li>
							<li class="timeline-unverted animate-box">
								<div class="timeline-badge timeline-badge-3"><i class="icon-pencil2"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">APCS Principles Course Intern</h3>
										<span class="company">UCSD Department of Educational Services - 2016</span>
									</div>
									<div class="timeline-body">
										<p>
											My initial foray into the software industry was a valuable learning
											experience. I was introduced to the field through a professor, who connected
											me with my mentor, <a
												href="https://www.forbes.com/profile/sarah-guthals/?sh=774f994448bf">Dr.
												Sarah Guthals</a>. Under her guidance, I contributed to a
											project aimed at broadening computer science education to socio-economically
											disadvantaged communities across San Diego County. Our team met with
											computer science classes and high schools to gain a deeper understanding of
											their needs and identify ways to better serve them.
										</p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted animate-box">
								<div class="timeline-badge timeline-badge-4"><i class="icon-laptop2"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">Curriculum Developer and Software Engineer</h3>
										<span class="company">UCSD Department of Educational Services - 2016</span>
									</div>
									<div class="timeline-body">
										<p>Following my internship with Dr. Guthals, I was honored to be invited back to
											her project as a software engineer to help bring our vision for an
											experimental educational coding platform to life. Our team consisted of
											talented students, and it was a genuine pleasure to work alongside them and
											contribute to such a meaningful project.</p>
										<ul aria-label="Job Responsibilities:">
											<font style="font-size: 15px;">
												<li>Designed and implemented both backend and frontend architecture for
													the Bootstrap learning platform, with the aim of providing a more
													engaging and professional learning experience for both students and
													teachers.</li>
												<li>Contributed to the improvement and creation of new curriculum for
													the Advanced Placement Computer Science Principles (APCS Principles)
													program and teacher professional development course at the high
													school level, as tested by the University of California, San Diego.
												</li>
												<li>Created, evaluated, and refined curriculum across multiple learning
													management systems, including Bootstrap, Canvas, and Moodle.</li>
												<li>Collaborated with a team of undergraduate students to identify
													opportunities for enhancing the curriculum for both students and
													teachers in local high schools, with the expectation of nationwide
													implementation.</b></li>
											</font>
										</ul>
										<ul aria-label="Relevant Technologies:">
											<font style="font-size: 15px;">
												<li>Ruby on Rails</li>
												<li>HTML</li>
												<li>Javascript</li>
											</font>
										</ul>
									</div>
								</div>
							</li>
							<li class="timeline-unverted animate-box">
								<div class="timeline-badge timeline-badge-5"><i class="icon-blackboard"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">Computer Science Tutor</h3>
										<span class="company">Georgia Institute of Technology - 2017</span>
									</div>
									<div class="timeline-body" style="margin-bottom: 40px;">
										<p>As a tutor for the RISE UP 4 CS program, I was involved in an exploratory
											initiative by GIT aimed at providing educational support to students in the
											field of computer science. I facilitated both in-person and remote tutoring
											sessions, designed to enhance the comprehension of computer science among
											students. Through this program, I aimed to promote computing experiences for
											underrepresented students enrolled in Advanced Placement (AP) Computer
											Science courses.
										</p>
										<ul aria-label="Job Responsibilities:" style="text-align: left">
											<font style="font-size: 15px;">
												<li>Provided in-person and remote tutoring sessions to facilitate a
													deeper understanding of computer science among students.</li>
												<li>Promoted computing experiences for underrepresented students
													enrolled in Advanced Placement (AP) Computer Science courses, with
													the goal of increasing their engagement in the field.</li>
											</font>
										</ul>
									</div>
									<div class="timeline-heading">
										<span class="company">MathwizJohn Study Buddies - 2018</span>
									</div>
									<div class="timeline-body" style="margin-bottom: 40px;">
										<ul aria-label="Job Responsibilities:" style="text-align: left">
											<font style="font-size: 15px;">
												<li>Conducted one-on-one tutoring sessions with students enrolled in
													computer science programs at local colleges in San Diego, with a
													focus on subjects such as data structures and algorithms.</li>
											</font>
										</ul>
									</div>
									<div class="timeline-heading">
										<span class="company">Columbia University - 2022</span>
									</div>
									<div class="timeline-body">
										<ul aria-label="Job Responsibilities:" style="text-align: left">
											<font style="font-size: 15px;">
												<li>Delivered individual tutoring sessions to computer science students
													at Columbia University, covering introductory Java courses and
													subjects such as data structures and algorithms.</li>
											</font>
										</ul>
									</div>
								</div>
							</li>
							<li class="timeline-inverted animate-box">
								<div class="timeline-badge timeline-badge-6"><i class="icon-star-full"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">Computer Science and Robotics Instructor</h3>
										<span class="company">Sally Ride Science Academy - 2017</span>
									</div>
									<div class="timeline-body">
										<p>
											My first experience as a dedicated instructor was a truly rewarding one. I
											was a part of the <a
												href="https://sallyridescience.ucsd.edu/academy/">SRS</a> program, which
											offered a
											diverse range of STEAM workshops for students entering grades 3 through 12.
											It was a deeply fulfilling experience to work with children and inspire them
											to explore careers in computer science. The opportunity to be a positive
											influence on the next generation of students was an honor and one I will
											always treasure.
										</p>
										<ul aria-label="Job Responsibilities:">
											<font style="font-size: 15px;">
												<li>Developed a comprehensive curriculum and delivered training in
													robotics design and programming utilizing the Lego Mindstorms
													platform</li>
												<li>Conducted instructional sessions to educate students in coding
													through game design with Unity, with the objective of fostering an
													appreciation for computer science</li>
												<li>Provided supervision and support to groups of up to 20 students
													during intensive, week-long instruction sessions</li>
											</font>
										</ul>
									</div>
								</div>
							</li>
							<li class="timeline-unverted animate-box">
								<div class="timeline-badge timeline-badge-7"><i class="icon-rocket"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">Software Architect and Engineer</h3>
										<span class="company">Voyager Space Technologies 2018</span>
									</div>
									<div class="timeline-body">
										<p>
											Working at <a
												href="https://freshbrewedtech.com/triton-tech-voyager-space-technologies/">Voyager</a>
											was my first encounter with a start-up, and it was an
											exhilarating experience. The company was filled with highly motivated
											individuals, and it was inspiring to be part of such a dynamic team. I was
											fortunate to join the company at an early stage, which provided me with
											ample opportunities for creativity in my design work. I greatly appreciated
											the trust and freedom I was given to bring my ideas to life.
										</p>
										<ul aria-label="Job Responsibilities:" style="text-align: left">
											<font style="font-size: 15px;">
												<li>Accountable for crafting the architecture of scalable and
													user-friendly internal and customer-facing applications.</li>
												<li>Served as the primary architect and engineer for the design and
													implementation of major notification features that were widely used
													within the internal application.</li>
												<li>Conducted comprehensive code refactoring and optimized the
													performance of frontend applications, resulting in a 15% increase in
													test coverage and a 10% reduction in API latency.</li>
											</font>
										</ul>
										<ul aria-label="Relevant Technologies:" style="text-align: left">
											<font style="font-size: 15px;">
												<li>Angular 6</li>
												<li>Python</li>
												<li>Django</li>
												<li>MongoDB</li>
												<li>Jest, Selenium</li>
											</font>
										</ul>
									</div>
								</div>
							</li>
							<li class="timeline-inverted animate-box">
								<div class="timeline-badge timeline-badge-8"><i class="icon-eye3"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">Senior Software Developer</h3>
										<span class="company">Dr. John Wixted Laboratory – UCSD - 2018</span>
									</div>
									<div class="timeline-body">
										<p>As the Senior Software Engineer on this project, I designed and developed an
											external web application and internal database interface for episodic
											research experiments at the Wixted Memory Lab at the UCSD Department of
											Psychology. I was I was also responsible for hiring and leading a team of
											junior developers to support the project's growth and expansion. My work
											helped to streamline the research process and ensure accurate data
											collection and analysis.</p>
										<ul aria-label="Job Responsibilities:" style="text-align: left">
											<font style="font-size: 15px;">
												<li>Designed and developed an external web application and internal
													database interface for episodic research experiments at the Wixted
													Memory Lab</li>
												<li>Hired and led a team of junior developers to support project growth
													and expansion</li>
												<li>Streamlined the research process by optimizing data collection and
													analysis</li>
												<li>Ensured accuracy of data through effective project management</li>
												<li>Demonstrated leadership and mentorship skills by guiding junior
													developers in technical and professional growth.</li>
											</font>
										</ul>
										<ul aria-label="Relevant Technologies:" style="text-align: left">
											<font style="font-size: 15px;">
												<li>HTML5/CSS3</li>
												<li>Javascript</li>
												<li>ExpressJS</li>
												<li>Firebase</li>
											</font>
										</ul>
									</div>
								</div>
							</li>
							<li class="timeline-unverted animate-box">
								<div class="timeline-badge timeline-badge-9"><i class="icon-qrcode"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">Software Architect and Engineer</h3>
										<span class="company">Biota Technology - 2020</span>
									</div>
									<div class="timeline-body">
										<p>While working at Biota, I was fortunate to be part of a small, close-knit
											team of developers, which allowed me to bring my unique ideas to the
											forefront of the feature work I undertook. Additionally, the experience
											presented a wealth of opportunities to work with a diverse range of
											innovative technologies while building new applications.</p>
										<ul aria-label="Job Responsibilities:" style="text-align: left">
											<font style="font-size: 15px;">
												<li>Designed, implemented and deployed user-driven features, following
													an iterative process that encompassed user story definition,
													architecture design, database and API development, and front-end
													application creation.</li>
												<li>Acted as the sole architect, engineer, and maintainer of key
													features utilized by the organization.</li>
												<li>Undertook extensive code refactoring efforts to improve the
													performance of the system, resulting in a reduction of API latency
													by 15% and an increase of test coverage by 10% for front-end
													applications.</li>
											</font>
										</ul>
										<ul aria-label="Relevant Technologies:" style="text-align: left">
											<font style="font-size: 15px;">
												<li>Angular 9</li>
												<li>Python</li>
												<li>Django</li>
												<li>MongoDB</li>
												<li>Amazon RDS</li>
											</font>
										</ul>
									</div>
								</div>
							</li>
							<li class="timeline-inverted animate-box">
								<div class="timeline-badge timeline-badge-10"><i class="icon-heart3"></i>
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">Board Member and Senior Software Engineer</h3>
										<span class="company">Refugee Health Alliance - 2018</span>
									</div>
									<div class="timeline-body">
										<p>During my tenure at the Refugee Health Alliance (RHA) in Tijuana, Mexico, I
											was fortunate enough to play a significant role in the organization's
											technology initiatives. After joining RHA as a volunteer, I eventually
											assumed the role of a board member and took charge of the organization's
											technology related efforts. Through my expertise in software engineering, I
											initiated, designed, and implemented a fully functional electronic health
											record system, digitizing the organization's intake forms and patient-flow
											systems. My strong focus on user-centered design resulted in the creation of
											intuitive and user-friendly graphical interfaces, which significantly
											improved the efficiency and effectiveness of the organization's health
											services. This experience remains a highlight of my career and one that I
											will always treasure.</p>
										<ul aria-label="Job Description:" style="text-align: left">
											<font style="font-size: 15px;">
												<li>Initiated, designed and implemented a fully-functional electronic
													health record system for the Refugee Health Alliance in Tijuana,
													Mexico.</li>
												<li>Digitized the organization's intake forms and patient-flow systems,
													making it easier for clinical staff to access and manage patient
													information.</li>
												<li>Utilized expertise in user-centered design to create intuitive and
													user-friendly graphical interfaces.</li>
												<li>Improved the efficiency and effectiveness of the organization's
													health services through the new system.</li>
												<li>Supervised a team of volunteers to deliver medical care to asylum
													seekers in Tijuana</li>
												<li>Coordinated daily clinic operations, including at main and mobile
													clinics located at local shelters</li>
												<li>Conducted proactive risk assessments to identify potential obstacles
													and applied critical thinking skills to resolve issues in real-time
													during clinic operations</li>
												<li>Facilitated effective communication among team members to foster a
													collaborative and cohesive work environment</li>
											</font>
										</ul>
										<ul aria-label="Relevant Technologies:" style="text-align: left">
											<font style="font-size: 15px;">
												<li>Angular 9</li>
												<li>Cypress</li>
												<li>Firebase</li>
												<li>Cloud Firestore</li>
											</font>
										</ul>
									</div>
								</div>
							</li>
							<li class="timeline-unverted animate-box">
								<div class="timeline-badge timeline-badge-11"><i class="icon-camera3"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">Software Engineer I</h3>
										<span class="company">Lytx, Inc. - 2020</span>
									</div>
									<div class="timeline-body">
										<p>
											During my tenure at Lytx, I acquired valuable knowledge and skills. As a
											newcomer to working in a large corporate environment, I faced the challenge
											of adapting to a more structured coding approach, which necessitated
											deviating from my customary creative coding style. However, this limitation
											was offset by the invaluable opportunity to learn how to integrate into a
											complex and extensive codebase, thereby gaining insight into the methods
											used by highly skilled and accomplished programmers.
										</p>
										<ul aria-label="Job Description:" style="text-align: left">
											<font style="font-size: 15px;">
												<li>Designed and implemented internal libraries for code reuse and
													visual consistency across applications</li>
												<li>Collaborated with cross-functional development teams to promote
													reusability and maximize the value of the libraries</li>
												<li>Ensured consistency and accuracy of libraries across multiple
													applications</li>
												<li>Maintained libraries to keep them up-to-date and functional.</li>
											</font>
										</ul>
										<ul aria-label="Relevant Technologies:" style="text-align: left">
											<font style="font-size: 15px;">
												<li>Angular 9</li>
												<li>C#</li>
												<li>ASP.NET Core</li>
												<li>PosgreSQL</li>
											</font>
										</ul>
									</div>
								</div>
							</li>
							<li class="timeline-inverted animate-box">
								<div class="timeline-badge timeline-badge-12"><i class="icon-woman"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">Lead Software Developer</h3>
										<span class="company">UCI School of Medicine - 2022</span>
									</div>
									<div class="timeline-body">
										<p>I was approached by a colleague at UCI School of Medicine regarding a
											research initiative they were conducting. The objective of the study was to
											assess the depression levels of postpartum patients and a need was
											identified for a software application to facilitate this process. As a
											pre-medical student, I found the project to be a fulfilling and relevant
											pursuit, providing a refreshing departure from my academic coursework.</p>
										<ul aria-label="Job Description:" style="text-align: left">
											<font style="font-size: 15px;">
												<li>Acted as the lead architect and engineer on a project to design and
													develop a web application for conducting research on postpartum
													depression</li>
												<li>Collaborated with a team of medical professionals and students at
													UCI School of Medicine</li>
												<li>Facilitated potential data collection, analysis, and interpretation
													through the design of the application</li>
												<li>Contributed to improved efficiency and accuracy in the research
													process through technical expertise</li>
											</font>
										</ul>
										<ul aria-label="Relevant Technologies:" style="text-align: left">
											<font style="font-size: 15px;">
												<li>Angular 9</li>
											</font>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- coding projects-->
		<div id="fh5co-work" class="fh5co-bg-dark" style="border-radius: 75px 75px 0 0;">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>Software Projects</h2>
						<span class="whitetext">A collection of some notable / favorite projects over the years</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="fh5co-blog animate-box">
							<a class="blog-bg" style="background-image: url(images/ucipreghub.png);"></a>
							<div class="blog-text">
								<h3>UCI PregnancyHub</h3>
								<span class="posted_on">2022 – Irvine, CA</span>
								<p>I was honored to be recruited by a group of medical students from the University of
									California, Irvine to take part in their research project. This initiative aimed to
									create a centralized hub of free resources for postpartum parents in Orange County,
									California. The project recently received IRB approval, and the team is actively
									preparing for a mass rollout of the app in Spring 2023. I am grateful for the
									opportunity to be a part of such a valuable and impactful initiative.</p>
								<ul class="stuff">
									<li class="award">⭐️ Solo Project</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-blog animate-box">
							<a class="blog-bg" style="background-image: url(images/rhaemr.png);"></a>
							<div class="blog-text">
								<h3>RHA EMR</h3>
								<span class="posted_on">2021 – Tijuana, MX</span>
								<p>During my time working in the clinic, I identified the need to modernize our intake
									process. With that goal in mind, I embarked on an extensive project to design and
									implement a fully functional electronic health record system tailored specifically
									for the Refugee Health Alliance. The project was the most comprehensive and
									challenging one I have ever undertaken, requiring over a year of focused effort to
									complete. I am proud of what I was able to achieve and the positive impact it has
									had on the clinic's operations.</p>
								<ul class="stuff">
									<li class="award">⭐️ Solo Project</li>
									<li>> 💯 Commits</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-blog animate-box">
							<a class="blog-bg" style="background-image: url(images/ucsd_psych.png);"></a>
							<div class="blog-text">
								<h3>Eyewitness Research</h3>
								<span class="posted_on">2018 – San Diego, CA</span>
								<p>This project holds a special place in my heart and is undoubtedly one of my
									favorites. As an undergraduate student, I had the opportunity to design, develop,
									and launch an app from start to finish on my own. As the project gained momentum, I
									was entrusted with the responsibility of assembling a team of developers and took on
									the role of lead for the duration of the project. I had an incredible time working
									with Dr. Wixted at the Psychology Department at UCSD, and the results of the
									experiment were even published, which was a fantastic recognition of our hard work.
								</p>
								<ul class="stuff">
									<li class="award">🥇 Team Lead</li>
									<li><a
											href="https://www.sciencedirect.com/science/article/abs/pii/S2211368119301561">Published
											Paper<i class="icon-arrow-right22"></i></a></li>

								</ul>
							</div>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="fh5co-blog animate-box">
							<a class="blog-bg" style="background-image: url(images/twitterbot.png);"></a>
							<div class="blog-text">
								<h3>TwitterBot</h3>
								<span class="posted_on">2022 – New York, NY</span>
								<p>I have recently developed an interest in machine learning. For this particular
									project, I utilized the Twitter API to gather a large number of tweets from a
									specific user. The tweets were then subjected to a thorough analysis and used to
									train a machine learning model. The end result was an AI-powered system capable of
									generating tweets in the style of the original user. It was an exciting and
									challenging project that allowed me to delve deep into the world of machine
									learning.</p>
								<ul class="stuff">
									<li class="award">⭐️ Solo Project</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-blog animate-box">
							<a class="blog-bg" style="background-image: url(images/ucipreghub.png);"></a>
							<div class="blog-text">
								<h3>IE Resources</h3>
								<span class="posted_on">2022 – New York, NY</span>
								<p>A friend from the Refugee Health Alliance approached me to assist in the design of a
									resource app, similar in concept to UCI's Pregnancy Hub. Through our collaboration,
									we created a spinoff of the pregnancy hub, integrated into the clinic's website.
									This project marked my first experience with remote project management and
									completion, and I was impressed with the successful outcome despite the challenges
									posed by working remotely.</p>
								<ul class="stuff">
									<li class="award">⭐️ Solo Project</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-blog animate-box">
							<a class="blog-bg" style="background-image: url(images/stinky.JPG);"></a>
							<div class="blog-text">
								<h3>isWrenAvailable.py</h3>
								<span class="posted_on">2019 – San Diego, CA</span>
								<p>This project holds a special place in my heart. I designed a web scraping application
									with the purpose of monitoring the San Diego Humane Society's website for updates on
									the availability of a specific pug for adoption. The app would continuously poll the
									website and, upon detecting that the pug was ready for adoption, would send me an
									email notification. Thanks to this app, I was able to quickly respond and adopt the
									pug the very next morning. It was a fulfilling experience that combined my love for
									pets with my technical skills 🐶.
								</p>
								<ul class="stuff">
									<li class="award">⭐️ Solo Project</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="fh5co-blog animate-box">
							<a class="blog-bg" style="background-image: url(images/papaya.jpg);"></a>
							<div class="blog-text">
								<h3>Papaya</h3>
								<span class="posted_on">2018 – UCSD</span>
								<p>"Papaya" is a valuable tool that I developed to assist students at my school in
									evaluating their network speeds and identifying the areas of campus with the best
									connectivity. This practical solution provides a user-friendly interface for testing
									network speeds and helps students make informed decisions about where they choose to
									study and complete their coursework.</p>
								<ul class="stuff">
									<li class="award">🥇 Team Lead</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-blog animate-box">
							<a class="blog-bg" style="background-image: url(images/birdie.jpg);"></a>
							<div class="blog-text">
								<h3>Birdie (AI)</h3>
								<span class="posted_on">2018 – UCSD</span>
								<p>"Birdie" is a cutting-edge application that simplifies the process of finding the
									perfect dining establishment. Leveraging the power of artificial intelligence, it
									offers an intelligent and efficient solution for finding a place to eat, helping
									users quickly and effectively navigate the culinary landscape and reach their
									desired restaurant with ease.</p>
								<ul class="stuff">
									<li class="award">🏆 Winner of "Best Development Award" at UCSD</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-blog animate-box">
							<a class="blog-bg" style="background-image: url(images/ucsddb.png);"></a>
							<div class="blog-text">
								<h3>UCSD Database</h3>
								<span class="posted_on">2019 – UCSD</span>
								<p>As a software developer, I successfully designed and implemented a full-scale
									electronic replica of the UCSD Registrar system, which enabled efficient and
									streamlined enrollment management for both students and faculty. The system was
									built using HTML, JavaScript for the frontend interface, and PHP and MySQL for the
									backend operations. This project reinforced my understanding of the importance and
									value of utilizing frameworks in software development.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 mr-auto ml-auto">
						<div class="fh5co-blog animate-box">
							<a class="blog-bg" style="background-image: url(images/dejaphoto.jpg);"></a>
							<div class="blog-text">
								<h3>DejaPhoto</h3>
								<span class="posted_on">2017 – UCSD</span>
								<p>A social media platform for sharing pictures. It allows users to
									dynamically change their homescreen wallpaper based on location.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 mr-auto ml-auto">
						<div class="fh5co-blog animate-box">
							<a class="blog-bg" style="background-image: url(images/2048.jpg);"></a>
							<div class="blog-text">
								<h3>2048</h3>
								<span class="posted_on">2017 – UCSD</span>
								<p>A nostalgic trip down memory lane, my first coding project was a Java replica of the
									popular game 2048. As a testament to my growth and development in the field of
									computer science, this project serves as a reminder of the endless possibilities and
									opportunities available in this field.</p>
								<ul class="stuff">
									<li>👶🏻 Baby's First Coding Project</li>
									<li></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- skills -->
		<div id="fh5co-skills" class="animate-box">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>Skills</h2>
					</div>
				</div>

				<h2 class="text-center" style="margin-bottom: 40px;">Languages</h2>
				<div class="row row-pb-md">
					<div class="col-md-6">
						<div class="progress-wrap">
							<h3><span class="name-left">Python</span><span class="value-right">98%</span></h3>
							<div class="progress">
								<div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
									aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:98%">
								</div>
							</div>
						</div>
						<div class="progress-wrap">
							<h3><span class="name-left">Javascript</span><span class="value-right">93%</span></h3>
							<div class="progress">
								<div class="progress-bar progress-bar-2 progress-bar-striped active" role="progressbar"
									aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:93%">
								</div>
							</div>
						</div>
						<div class="progress-wrap">
							<h3><span class="name-left">Java</span><span class="value-right">85%</span></h3>
							<div class="progress">
								<div class="progress-bar progress-bar-6 progress-bar-striped active" role="progressbar"
									aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
								</div>
							</div>
						</div>
						<div class="progress-wrap">
							<h3><span class="name-left">SQL</span><span class="value-right">78%</span></h3>
							<div class="progress">
								<div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
									aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width:78%">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="progress-wrap">
							<h3><span class="name-left">Typescript</span><span class="value-right">95%</span></h3>
							<div class="progress">
								<div class="progress-bar progress-bar-5 progress-bar-striped active" role="progressbar"
									aria-valuenow="90" aria-valuemin="0" aria-valuemax="90" style="width:95%">
								</div>
							</div>
						</div>
						<div class="progress-wrap">
							<h3><span class="name-left">HTML5/CSS3</span><span class="value-right">87%</span></h3>
							<div class="progress">
								<div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
									aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:87%">
								</div>
							</div>
						</div>
						<div class="progress-wrap">
							<h3><span class="name-left">C#</span><span class="value-right">80%</span></h3>
							<div class="progress">
								<div class="progress-bar progress-bar-7 progress-bar-striped active" role="progressbar"
									aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:80%">
								</div>
							</div>
						</div>
						<div class="progress-wrap">
							<h3><span class="name-left">PHP</span><span class="value-right">70%</span></h3>
							<div class="progress">
								<div class="progress-bar progress-bar-8 progress-bar-striped active" role="progressbar"
									aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:70%">
								</div>
							</div>
						</div>
					</div>
				</div>

				<h2 class="text-center" style="margin-bottom: 40px;">Frameworks</h2>
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12 text-center">
						<div class="chart" data-percent="100"><span><strong>Angular</strong>100%</span></div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 text-center">
						<div class="chart" data-percent="90"><span><strong>Django</strong>90%</span></div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 text-center">
						<div class="chart" data-percent="85"><span><strong>React</strong>85%</span></div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 text-center">
						<div class="chart" data-percent="80"><span><strong>ExpressJS</strong>80%</span></div>
					</div>
				</div>
				<div class="row row-pb-md">
					<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 text-center">
						<div class="chart" data-percent="77"><span><strong>jQuery</strong>77%</span></div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 text-center">
						<div class="chart" data-percent="72 "><span><strong>ASP.NET Core</strong>72%</span></div>
					</div>
				</div>

				<h2 class="text-center" style="margin-bottom: 40px;">Databases</h2>
				<div class="row">
					<div class="col-md-6">
						<div class="progress-wrap">
							<h3><span class="name-left">Cloud Firestore</span><span class="value-right">100%</span></h3>
							<div class="progress">
								<div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
									aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:100%">
								</div>
							</div>
						</div>
						<div class="progress-wrap">
							<h3><span class="name-left">MongoDB</span><span class="value-right">91%</span></h3>
							<div class="progress">
								<div class="progress-bar progress-bar-2 progress-bar-striped active" role="progressbar"
									aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:91%">
								</div>
							</div>
						</div>
						<div class="progress-wrap">
							<h3><span class="name-left">Amazon RDS</span><span class="value-right">80%</span></h3>
							<div class="progress">
								<div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
									aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width:80%">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="progress-wrap">
							<h3><span class="name-left">Firebase</span><span class="value-right">95%</span></h3>
							<div class="progress">
								<div class="progress-bar progress-bar-5 progress-bar-striped active" role="progressbar"
									aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:95%">
								</div>
							</div>
						</div>
						<div class="progress-wrap">
							<h3><span class="name-left">MySQL</span><span class="value-right">90%</span></h3>
							<div class="progress">
								<div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
									aria-valuenow="90" aria-valuemin="0" aria-valuemax="90" style="width:90%">
								</div>
							</div>
						</div>
						<div class="progress-wrap">
							<h3><span class="name-left">PostgreSQL</span><span class="value-right">77%</span></h3>
							<div class="progress">
								<div class="progress-bar progress-bar-8 progress-bar-striped active" role="progressbar"
									aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:77%">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- services -->
		<!-- <div id="fh5co-features" class="animate-box">
			<div class="container">
				<div class="services-padding">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
							<h2>My Services</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 text-center">
							<div class="feature-left">
								<span class="icon">
									<i class="icon-paintbrush"></i>
								</span>
								<div class="feature-copy">
									<h3>Web Design</h3>
									<p>I have experience with human computer interactions and can design a clean
										functional interface.</p>
								</div>
							</div>
						</div>

						<div class="col-md-4 text-center">
							<div class="feature-left">
								<span class="icon">
									<i class="icon-code"></i>
								</span>
								<div class="feature-copy">
									<h3>Web Developent</h3>
									<p>Is your team more focussed on back-end? I can help with that.</p>
								</div>
							</div>

						</div>
						<div class="col-md-4 text-center">
							<div class="feature-left">
								<span class="icon">
									<i class="icon-laptop"></i>
								</span>
								<div class="feature-copy">
									<h3>App Devloper</h3>
									<p>I can also do backend programming, if that's what you're looking for.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4 text-center">
							<div class="feature-left">
								<span class="icon">
									<i class="icon-pencil"></i>
								</span>
								<div class="feature-copy">
									<h3>Education</h3>
									<p>I have years of experience as both a private tutor and an instructor for computer
										science.</p>
								</div>
							</div>
						</div>

						<div class="col-md-4 text-center">
							<div class="feature-left">
								<span class="icon">
									<i class="icon-notebook"></i>
								</span>
								<div class="feature-copy">
									<h3>Algorithms</h3>
									<p>I love thinking of algorithms to solve any problem.</p>
								</div>
							</div>

						</div>
						<div class="col-md-4 text-center">
							<div class="feature-left">
								<span class="icon">
									<i class="icon-star-empty"></i>
								</span>
								<div class="feature-copy">
									<h3>Good attitude</h3>
									<p>Need someone with a positive attitude and good work ethic for your team? I'm your
										guy.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>-->

		<!-- hobbies -->
		<!--<div id="fh5co-blog">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>Hobbies</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="fh5co-blog animate-box" style="align:center;">
							<h3> My Instragram </h3>
							<script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe
								src="//lightwidget.com/widgets/06e3b75114715108bb8c804d0af64179.html" scrolling="no"
								allowtransparency="true" class="lightwidget-widget"
								style="width:100%;height:auto;border:0;overflow:hidden;"></iframe>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-blog animate-box" style="align:center;">
							<h3> Scripps Cam for Surfing </h3>
							<iframe width="auto" height="100%"
								src="http://e.cdn-surfline.com/syndication/embed/v1/player.html?id=4246" frameborder="0"
								scrolling="no" allowfullscreen></iframe>
							<div style="margin: 10px 0px;"><a
									href="http://www.surfline.com/surf-report/scripps-southern-california_4246/"
									target="_blank" title="Scripps Surf Report and HD Surf Cam">Scripps</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>-->

		<div id="fh5co-started" class="fh5co-bg-dark">
			<div class="overlay"></div>
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>Let's Work Together!</h2>
						<p>I'm always looking for new projects</p>
						<p><a href="/resume.pdf" download="VincenTCannallResume.pdf"
								class="btn btn-default btn-lg btn-resume">Download my Resume</a>
						<p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Easy PieChart -->
	<script src="js/jquery.easypiechart.min.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

	<script type="module">
		// Import the functions you need from the SDKs you need
		import { initializeApp } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-app.js";
		// TODO: Add SDKs for Firebase products that you want to use
		// https://firebase.google.com/docs/web/setup#available-libraries

		// Your web app's Firebase configuration
		const firebaseConfig = {
			apiKey: "AIzaSyBvSLkGnGavvEbAxh7u9bO2NmG-RxnINAc",
			authDomain: "vjc-portfolio.firebaseapp.com",
			projectId: "vjc-portfolio",
			storageBucket: "vjc-portfolio.appspot.com",
			messagingSenderId: "210109532164",
			appId: "1:210109532164:web:f133241a25f2e38769cd51"
		};

		// Initialize Firebase
		const app = initializeApp(firebaseConfig);
	</script>

</body>

</html>