<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Vincent &mdash; Portfolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FreeHTML5.co

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

	<div class="fh5co-loader"></div>

<!-- intro -->
	<div id="page">
	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image:url(images/cover_bg_3.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<div class="profile-thumb" style="background: url(images/prof.jpg);"></div>
							<h1><span>Vincent James Cannalla</span></h1>
							<h3><span>Technology Developer / Teacher / Photographer</span></h3>
							<p>
								<ul class="fh5co-social-icons">
									<li><a href="https://twitter.com/BarackObama"><i class="icon-twitter2"></i></a></li>
									<li><a href="https://www.facebook.com/vincent.cannella"><i class="icon-facebook2"></i></a></li>
									<li><a href="https://www.linkedin.com/in/vincent-cannalla-695757116/"><i class="icon-linkedin2"></i></a></li>
									<li><a href="https://www.instagram.com/vin.ent/"><i class="icon-instagram"></i></a></li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

<!-- about -->
	<div id="fh5co-about" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>About Me</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<ul class="info">
						<li><span class="first-block">Name:</span><span class="second-block">Vincent Cannalla</span></li>
						<li><span class="first-block">Phone:</span><span class="second-block">+ 1 949 682 6155</span></li>
						<li><span class="first-block">Email:</span><span class="second-block">vcannall@ucsd.edu</span></li>
						<!--<li><span class="first-block">Website:</span><span class="second-block">www.yoursite.com</span></li>-->
						<li><span class="first-block">Location:</span><span class="second-block">La Jolla</span></li>
					</ul>
				</div>
				<div class="col-md-8">
					<h2>Hello There!</h2>
					<p>I am currently attending UC San Diego to get my bachelors in computer science and I love it!
						<br><br> Pursuing computer science has allowed me to get into teaching although I'm currently moving away
						from education and more into software development. I recently picked up web development, and have been taking
						as many classes as I can on it.
						<br><br>I'm currently tutoring computer science and working on multiple projects with many different people. I am employed by the educational services department at UCSD (EDS) where I am a technology developer, and unprofessionally have a multiple side projects.
						<br><br>When I'm not tutoring or teaching or learning I'm an amateur photographer and professional beach goer. If I'm not inside coding I'm probably at Scripps.
						<br><br>You can check out some of my social media accounts through the buttons below!
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="https://twitter.com/BarackObama"><i class="icon-twitter2"></i></a></li>
							<li><a href="https://www.facebook.com/vincent.cannella"><i class="icon-facebook2"></i></a></li>
							<li><a href="https://www.linkedin.com/in/vincent-cannalla-695757116/"><i class="icon-linkedin2"></i></a></li>
							<li><a href="https://www.instagram.com/vin.ent/"><i class="icon-instagram"></i></a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>

<!-- resume -->
	<div id="fh5co-resume" class="fh5co-bg-color">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>My Resume</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline">
						<li class="timeline-heading text-center animate-box">
							<div><h3>Work Experience</h3></div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Curriculum and Software Developer</h3>
									<span class="company">UCSD Department of Educational Services - 2016 - Current</span>
								</div>
								<div class="timeline-body">
									<ul>
										<font size="-1">
											<li>Created both <b>backend and frontend architecture </b> to <b>enhance
											the Bootstrap learning platform</b> to accommodate <u>more interactive
											 learning and professional development experience </u> for students
											 and teacher.</li>
											 <li>Contributed to improving and developing new curriculum
												 for the UCSD tested APCS Principles curriculum and
												 teacher professional development course for high schoolers.</li>
											<li><b>Created, checked,</b> and <b>improved</b> the curriculum on <u>three
												 learning management systems: Bootstap, Canvas, and Moodle.</u></li>
											<li><b>Worked with a team of undergrads</b> to find ways to improve
												the curriculum for both students and teachers in local high
												schools, with the expectation that <b>our work could be offered
												nationwide.</b></li>
										</font>
									</ul>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Computer Science Tutor</h3>
									<span class="company">MathwizJohn Study Buddies - 2018 - Current</span>
								</div>
								<div class="timeline-body">
									<ul style="text-align: left">
										<font size="-1">
											<li><b>Instructed</b> courses to teach coding through game design
												using unity to instill a interest for computer science
												in young students</li>
											<li><b>Supervised</b> groups of up to 20 during week long
												instruction periods</li>
										</font>
									</ul>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Computer Science Instructor</h3>
									<span class="company">Sally Ride Science - 2017</span>
								</div>
								<div class="timeline-body">
									<ul>
										<font size="-1">
											<li><b>Instructed</b> courses to teach coding through game design
												using unity to instill a interest for computer science
												in young students</li>
											<li><b>Supervised</b> groups of up to 20 during week long
												instruction periods</li>
										</font>
									</ul>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Computer Science Tutor</h3>
									<span class="company">Georgia Institute of Technology - 2017</span>
								</div>
								<div class="timeline-body">
									<ul style="text-align: left">
										<font size="-1">
											<li><b>Facilitated</b> in-person and remote tutoring sessions
												which allowed students to better understand computer science</li>
											<li><b>Engaged computing experiences for underrepresented students
												 in computing</b> who are in Advanced Placement (AP)Computer
												 Science courses.</li>
										</font>
									</ul>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">APCPS Principles Course Intern</h3>
									<span class="company">UCSD Department of Educational Services - 2016</span>
								</div>
								<div class="timeline-body">
									<ul>
										<font size="-1">
											<li><b>Developed</b> new curriculum for the <u>teacher professional
												development course</u> for high schoolers.</li>
											<li><b>Worked in a team of undergrads</b> to find ways to improve
												 the curriculum for both students and teacher in local
												 (San Diego) high schools</li>
										</font>
									</ul>
								</div>
							</div>
						</li>

						<br>
						<li class="timeline-heading text-center animate-box">
							<div><h3>Education</h3></div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Bachelor's Degree</h3>
									<span class="company">UC San Diego - 2015 - 2019</span>
								</div>
								<div class="timeline-body">
									<p style="text-align: left">Recognized as a <a href="https://en.wikipedia.org/wiki/Public_Ivy">Public Ivy</a>, UC San
										 Diego is a highly regarded research institution ranked:
										<font size="-2"><ul style="text-align: left">
											<li>5th best public university in the world by the Times Higher Education World University Rankings.</li>
											<li>11th in the world by the Nature Index</li>
											<li>14th in the world by the Scrimago Institutions Rankings</li>
											<li>14th in the world by the Lens Metric</li>
											<li>14th best university in the world according to TBS Rankings</li>
											<li>16th in U.S. News & World Report's 2017 global university rankings</li>
											<li>15th best university in the world by Webometrics Ranking of World Universities</li>
											<li>15th in the world by the Academic Ranking of World Universities</li>
											<li>16th best university in the world by the Centre for Science and Technology Studies of Leiden University Ranking</li>
											<li>18th in the world by the Center for World University Rankings</li>
											<li>18th in the world by University Ranking by Academic Performance</li>
										</ul></font>
										</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">High School</h3>
									<span class="company">El Toro - 2011 - 2015</span>
								</div>
								<div class="timeline-body">
									<p>El Toro High School is a public high school in Lake Forest,
										California, and is one of five high schools in the Saddleback
										 Valley Unified School District (SVUSD).</p>
									<font size="-3"><ul>
										<li>California Distinguished School 1988, 1994, 2001 & 2015.</li>
										<li>National Blue Ribbon Nominee 1994 & 2001.</li>
										<li>California “Top 100” High Schools Selection.</li>
									</ul></font>
								</div>
							</div>
						</li>
			    	</ul>
				</div>
			</div>
		</div>
	</div>

<!-- services -->
	<div id="fh5co-features" class="animate-box">
		<div class="container">
			<div class="services-padding">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>My Services</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-paintbrush"></i>
							</span>
							<div class="feature-copy">
								<h3>Web Design</h3>
								<p>I have experience with human computer interactions and can design a clean
								functional interface.</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-code"></i>
							</span>
							<div class="feature-copy">
								<h3>Web Developent</h3>
								<p>Is your team more focussed on front-end? I can help with that.</p>
							</div>
						</div>

					</div>
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-laptop"></i>
							</span>
							<div class="feature-copy">
								<h3>App Devloper</h3>
								<p>I can also do backend programming, if that's what you're looking for.</p>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-pencil"></i>
							</span>
							<div class="feature-copy">
								<h3>Education</h3>
								<p>I have years of experience as both a private tutor and an instructor for computer science.</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-notebook"></i>
							</span>
							<div class="feature-copy">
								<h3>Algorithms</h3>
								<p>I love thinking of algorithms to solve any problem.</p>
							</div>
						</div>

					</div>
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-star-empty"></i>
							</span>
							<div class="feature-copy">
								<h3>Good attitude</h3>
								<p>Need someone with a positive attitude and good work ethic for your team? I'm your guy.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- skills -->
	<div id="fh5co-skills" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Skills</h2>
				</div>
			</div>
			<div class="row row-pb-md">
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="95"><span><strong>C++</strong>95%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="93"><span><strong>HTML</strong>93%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>CSS</strong>90%</span></div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="75"><span><strong>Jquery</strong>75%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="65"><span><strong>SQLite</strong>75%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Java</strong>90%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>C</strong>85%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Python</strong>90%</span></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">HTML5/CSS3</span><span class="value-right">92%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">C++</span><span class="value-right">95%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-2 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Jquery</span><span class="value-right">75%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">SQLite</span><span class="value-right">75%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
						  aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width:85%">
						  </div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">Java</span><span class="value-right">90%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-5 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="90" style="width:100%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">C</span><span class="value-right">85%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-striped active" role="progressbar"
						  aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:70%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Python</span><span class="value-right">90%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:85%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">jQuery</span><span class="value-right">75%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- coding projects-->
	<div id="fh5co-work" class="fh5co-bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Coding Projects</h2>
					<span class="whitetext">A collection of some of my most notable/favorite projects throughout the years.</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="https://lilbirdie.herokuapp.com/" class="blog-bg" style="background-image: url(images/birdie.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">Mar. 15th 2018</span>
							<h3><a href="https://lilbirdie.herokuapp.com/">Birdie (AI)</a></h3>
							<p>Birdie is an app to help you find a place to eat.
							It uses artificial intelligence to make smart decisions
							that help you get to a restaurant faster.</p>
							<ul class="stuff">
								<li><i class="icon-heart2"></i>249</li>
								<li><i class="icon-eye2"></i>308</li>
								<li><a href="https://lilbirdie.herokuapp.com/">Login with Facebook!<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="https://github.com/v1nnyc/2048" class="blog-bg" style="background-image: url(images/2048.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">October. 15th 2017</span>
							<h3><a href="https://github.com/v1nnyc/2048">2048</a></h3>
							<p>My java rendition of the popular game, 2048. You can clone my
							repo and run the game yourself! Just follow the README directions.</p>
							<ul class="stuff">
								<li><i class="icon-heart2"></i>249</li>
								<li><i class="icon-eye2"></i>308</li>
								<li><a href="https://github.com/v1nnyc/2048">Github Repo<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="https://github.com/v1nnyc/DejaPhoto" class="blog-bg" style="background-image: url(images/dejaphoto.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">June. 9th 2017</span>
							<h3><a href="https://github.com/v1nnyc/DejaPhoto">DejaPhoto</a></h3>
							<p>A social media platform for sharing pictures. It allows users to
								dynamically change their homescreen wallpaper based on location.
							</p>
							<ul class="stuff">
								<li><i class="icon-heart2"></i>249</li>
								<li><i class="icon-eye2"></i>308</li>
								<li><a href="https://github.com/v1nnyc/DejaPhoto">Github Repo<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- hobbies -->
	<div id="fh5co-blog">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Hobbies</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="fh5co-blog animate-box" style="align:center;">
						<h3> My Instragram </h3>
			      <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/06e3b75114715108bb8c804d0af64179.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;height:auto;border:0;overflow:hidden;"></iframe>
					</div>
				</div>
				<div class="col-md-6">
					<div class="fh5co-blog animate-box" style="align:center;">
						<h3> Scripps Cam for Surfing </h3>
						<iframe width="auto" height="100%" src="http://e.cdn-surfline.com/syndication/embed/v1/player.html?id=4246" frameborder="0" scrolling="no" allowfullscreen></iframe><div style="margin: 10px 0px;"><a href="http://www.surfline.com/surf-report/scripps-southern-california_4246/" target="_blank" title="Scripps Surf Report and HD Surf Cam">Scripps</a></div>
					</div>
				</div>
				<!--<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="https://github.com/v1nnyc/DejaPhoto" class="blog-bg" style="background-image: url(images/dejaphoto.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">June. 9th 2017</span>
							<h3><a href="https://github.com/v1nnyc/DejaPhoto">DejaPhoto</a></h3>
							<p>A social media platform for sharing pictures. It allows users to
								dynamically change their homescreen wallpaper based on location.
							</p>
							<ul class="stuff">
								<li><i class="icon-heart2"></i>249</li>
								<li><i class="icon-eye2"></i>308</li>
								<li><a href="https://github.com/v1nnyc/DejaPhoto">Github Repo<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div>
					</div>
				</div>-->
			</div>
		</div>
	</div>

	<div id="fh5co-started" class="fh5co-bg-dark">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Hire Me!</h2>
					<p>I'm currently looking for <b>part-time<b> during the <b>school year<b>, and <b>internships<b> during the <b>summer<b>!</p>
					<p><a href="/resume.pdf" download="VincenTCannallResume.pdf" class="btn btn-default btn-lg">Download my Resume</a><p>
				</div>
			</div>
		</div>
	</div>

	<div id="map" class="fh5co-map"></div>

	<!-- contact form -->
	<!--
	<div id="fh5co-consult">
		<div class="video fh5co-video" style="background-image: url(images/cover_bg_1.jpg);">
			<div class="overlay"></div>
		</div>
		<div class="choose animate-box">
			<h2>Contact</h2>
			<form action="#">
				<div class="row form-group">
					<div class="col-md-6">
						<input type="text" id="fname" class="form-control" placeholder="Your firstname">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-6">
						<input type="text" id="lname" class="form-control" placeholder="Your lastname">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<input type="text" id="email" class="form-control" placeholder="Your email address">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<input type="text" id="subject" class="form-control" placeholder="Your subject of this message">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Say something about us"></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Send Message" class="btn btn-primary">
				</div>

			</form>
		</div>
	</div>-->


	</div>

	<div id="fh5co-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<font size="-2">
						<p>&copy; 2017 Free HTML5 Template. All Rights Reserved. <br>Designed by <a href="http://freehtml5.co" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com" target="_blank">Unsplash</a></p>
					</font>
				</div>
			</div>
		</div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Easy PieChart -->
	<script src="js/jquery.easypiechart.min.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="js/google_map.js"></script>

	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>
